
/* 头图透明 */
#page-header{
    background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
/*#page-header.post-bg:before {
    background-color: transparent!important;
  }*/
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }

/********** 页脚磨砂半透明 **********/
#footer {
    background: rgba(255,255,255,.15);
    color: #000;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    backdrop-filter: saturate(100%) blur(5px)
  }
  
  #footer::before {
    background: rgba(255,255,255,.15)
  }
  
  #footer #footer-wrap {
    color: var(--font-color);
  }
  
  #footer #footer-wrap a {
    color: var(--font-color);
  }

/* 懒加载模糊 */


/**** Atom one dark start ****/
/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/

/************ Add Start ************/
#article-container pre, 
#article-container figure.highlight {
   background: #282c34;  
   color: #abb2bf
}
/* 代码框工具栏 */
#article-container figure.highlight .highlight-tools {
   color: #fff;
   background: #7F7F7F
}
/* 代码框行数(如果已经关掉line_number,可以不用配置这个) */
#article-container figure.highlight .gutter pre {
   background-color: #282c34;
   color: #7F7F7F
}
/************ Add End ************/

/* .hljs => #article-container figure.highlight .hljs */
#article-container figure.highlight .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

/**** Atom one dark end ****/
